@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.css';

/* Slick CSS */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slick-dots {
  bottom: 17px;
}

.slick-dots li {
  height: 10px;
  margin: 0 10px;
  width: 10px;
}

.slick-arrow::before {
  content: '';
}

/* General */
body {
  background-color: #2d2d2d;
}

section > h3 + div > ul::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1536px) {
  .slick-list {
    border-radius: 0 0 16px 16px;
  }
}
