.carousel .slick-list {
  padding: 0 20px;
}
.carousel__item {
  background: red;
  margin: 0 10px 0 0;
}

.carousel__image {
  aspect-ratio: 16/9;
}

.custom-arrow {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}

.custom-arrow__prev {
  left: -30px;
}

.custom-arrow__next {
  right: -30px;
}