.slider {
  aspect-ratio: 733/916;
}

.player-wrapper {
  background-color: black;
  overflow: hidden;
  position: relative;
  /* 9:16 aspect ratio for mobile screens */
  padding: 125% 0 0;
}

.react-player {
  pointer-events: none;
}

.player-wrapper .player-image,
.player-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper,
.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

/* custom slider */
.custom-dot {
  background-color: white;
  border-radius: 50%;
  display: block;
  height: 10px;
  opacity: 0.5;
  width: 10px;
}

.video__controls {
  bottom: 48px;
  position: absolute;
  right: 32px;
}

.video__controls button {
  border: none;
  color: white;
  padding: 8px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .video__controls {
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .slider {
    aspect-ratio: 1280/720;
  }
  .player-wrapper {
    /* 16:9 aspect ratio */
    padding: 56.25% 0 0;
    /* 21:9 aspect ratio */
    /* padding: 42.86% 0 0; */
    width: 100%;
  }
  .video__controls {
    bottom: 64px;
    position: absolute;
    right: 32px;
  }
}
